/* resete */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* classes: pais */
.clsPrincipal{
    max-width: 1024px;
    width: 100%;
    /* p/ centralizar */
    margin: 0 auto;
}

.clsSobre{
    display: flex;
}

.clsProdutos{
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    /* cria espacamentos entre as colunas + linhas */
    column-gap: 1%;
    row-gap: 5%;
}

.clsDescricao{
    display: flex;
    flex-direction: column;
    /* remove margens */
    margin-left: 0;
    padding-left: 0;
}

/* classes elementos: pais */
.clsProdutos li:hover{
    background-color: #e8dfdf;
}

.clsSobre p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

/* elementos: pais */
body{
    background-color: #EEEEEE;
}

header{
    /* cores */
    background-color: #3868D6;
    color: #DEF7FD;
    /* margens */
    padding-top: 16px;
    padding-bottom: 16px;
}

main{
    background-color: #EEEEEE;
     /* margens */
     padding-top: 32px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    /* remove marcacao de item */
    list-style: none;
}

h1{
    /* fonte */
    font-family: "Bungee", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
}

section{
    margin-bottom: 32px;
    width: 100%;
}

strong{
    font-size: 16px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    /* margens */
    margin-top: 12px;
}

/* elementos: nivel 1 */
section h2{
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    /* cores */
    color: #4563C2;
    /* margem de baixo */
    border-bottom: 3px solid #4563C2;
    /* espacamento */
    padding-bottom: 16px;
    margin-bottom: 32px;
}

section div{
    margin-left: 32px;
}

ul li{
    /* centralizacao */
    align-items: center;
    justify-content: center;
    vertical-align: center;
}

li img{
    margin-bottom: 16px;
}

li img{
    width: 248px;
    height: 248px;
}

li button{
    width: 100%;
    /* cores */
    background-color: #3868D6;
    color: #EBF1F4;
    /* tamanho */
    padding: 8px 0;
    margin-top: 16px;
    /* sem bordas */
    border: none;
    border-radius: 5px;
    /* cursor */
    cursor: pointer;
}

/* estados */
li button:hover{
    background-color: #3867d6c7;
}

/* elementos: nivel 2 */
header ul li{
    margin-left: 8px;
}

/* mistos: elementos nivel 1 + 3 */
strong
,header ul li a{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    /* cores */
    color: #ccc;
    text-decoration: none;
    /* margens */
    margin-right: 8px;
    margin-bottom: 8px;
}

/* estados */
header ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #def7fdbd;
    text-decoration-color: #eaec8a;
}

/* elementos .classe: pais */
header .clsPrincipal{
    display: flex;
    flex-wrap: wrap;
    /* centraliza objetos */
    justify-content: space-between;
    align-items: center;
}

/* IDs: pais */
#idImgSobreLoja{
    width: 400px;
    height: 400px;
}

/* == responsividades
    tablet */
@media screen and (min-width: 641px) and (max-width: 1023px){
    /* classes: pais */
    .clsPrincipal{
        width: 80%;
    }

    .clsSobre{
        display: block;
    }

    .clsDescricao{
        flex-direction: row;
    }

    /* classes elementos: nivel 1 */
    li img{
        width: 39vw;
    }

    .clsProdutos{
        grid-template-columns: repeat(2, 49%);
        /* cria espacamentos entre as colunas + linhas */
        column-gap: 2%;
        row-gap: 5%;
    }

    /* elementos: pais */
    section{
        width: 80vw;
    }

    /* elementos: nivel 1 */
    .clsSobre p{
        font-size: 18px;
    }

    section div{
        margin-left: 0;
    }

    section h2{
        font-size: 24px;
        /* espacamento */
        padding-top: 16px;
        margin-top: 32px;
    }

    /* IDs: pais */
    #idImgSobreLoja{
        width: 80vw;
    }
} 

/* smartphones */
@media screen and (max-width: 640px){
    /* IDs: pais */
    #idImgSobreLoja{
        width: 329px;
        height: 329px;
    }

    #idImgSobreLoja{
        width: 80vw;
    }

    .clsDescricao{
        flex-direction: row;
        /* margem */
        margin-bottom: 16px;
    }

    /* classes: pais */
    .clsPrincipal{
        max-width: 600px;
        width: 80%;
        /* p/ centralizar */
        margin: 0 40px;
    }

    .clsSobre{
        display: block;
    }

    .clsProdutos{
        display: block;
    }

    /* elementos */
    section{
        align-items: center;
        width: 100%;
    }

    ul{
        display: block;
        margin-top: 8px;
        padding-top: 8px;
    }

    button{
        margin-bottom: 32px;
    }

    /* elementos: nivel 1*/
    section div{
        margin-left: 0;
    }

    section h2{
        font-size: 24px;
        /* espacamento */
        padding-top: 16px;
        margin-top: 16px;
    }

    /* classes elementos: nivel 1 */
    li img{
        width: 80vw;
    }

    /* elementos: nivel 2 */
    header ul li{
        margin-bottom: 0;
        padding-bottom: 0;
    }
}